* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: unset;
}

body {
    background: #8F57FD;
    font-family: 'Mulish', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background: #8F57FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.logo {
    width: 10%;
}

.menu {
    color: #fff;
    display: flex;
    justify-content: flex-end;
}

.iconProfile {
    font-size: 16pt;
    padding: 0px 8px;
}

.menu ul {
    text-align: right;
    display: none;
    position: absolute;
    margin: 16px 0;
}

.menu:hover ul,
ul:hover {
    display: block;
}

.menu ul li {
    margin: 8px 0px;
}

.menu ul li a {
    color: #fff;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title_primary {
    color: #fff;
}

.input {
    background: rgba(255, 255, 255, 0.1);
    width: 80%;
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 8px;
    color: #fff;
    margin: 12px 0;
}

::placeholder {
    color: #fff;
}